.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 800px;
    margin-bottom: 20px;
}

.thumb {
    width: 200px;
    height: 200px;
    border: var(--gray-50) solid 1px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.content {
    text-align: center;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.intro {
    font-size: 1rem;
    color: var(--gray-50);
    margin-bottom: 1rem;
}