.postCard {
    position: relative;
    width: 100%;
    border: solid 1px var(--gray-10)
}

.postCard .contents {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "pict title"
        "pict text"
}

.postCard figure {
    position: relative;
    width: 200px;
    grid-area: pict;
}

.postCard .title {
    grid-area: title;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: var(--small-heading3);
}

.postCard .text {
    grid-area: text;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 1.0rem;
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: gray;
}